<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <!--<system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBehaviour">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="mexBehaviour" name="AutomationsService.ProcessesService">
                <endpoint address="http://localhost:61000/ProcessesService" binding="wsDualHttpBinding"
                    bindingConfiguration="" contract="AutomationsService.IProcessesService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:61000/ProcessesService"/>
                    </baseAddresses>
                  --><!--<timeouts openTimeout="00:00:03" closeTimeout="00:00:03"/>--><!--
                </host>
            </service>
        </services>
    </system.serviceModel>-->
</configuration>
